/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";


body{
    
    
    margin:0px;
    padding:0px;
    overflow-x: hidden !important;
    
    
    /* font-family:'Poppins' , sans-serif; */
    /* color:#222; */
}
