<body>

    <div class="sidebar">
        <a href="#profile" [routerLink]="['/UserProfile']"><i class="fa fa-fw fa-user"></i> My Profile</a>
        <a href="#bookings" [routerLink]="['/MyBooking']"><i class="fa fa-fw fa-envelope"></i> My Bookings</a>
        <a href="#bookbus" [routerLink]="['/bookbuswithoutdriver']"><i class="fa fa-bus"></i> Book Bus</a>
        <a href="#changepassword" [routerLink]="['/ChangePassword']"><i class="fa fa-fw fa-wrench"></i> Change
            Password</a>
        <a href="#wallet" [routerLink]="['/wallet']"><i class="fa fa-credit-card"></i> Wallet</a>
    </div>

    <div class="main">
        <h2>Change Password</h2>
        <div class="card">
            <IMG SRC="../assets/changepassword.gif" width="400px" height="300px" style="float: left;"><br>
            <div class="password">
                <label>
                    Old Password : <input type="password" placeholder="Old Password" [(ngModel)]="password.oldPassword"
                        minlength="8" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{1,3})+$" required
                        style="text-align: center;" />
                </label>

                <label>
                    New Password : <input type="password" placeholder="New Password" [(ngModel)]="password.newPassword"
                        minlength="8" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{1,3})+$" required
                        style="text-align: center;" />
                </label>

                <label>
                    Confirm Password : <input type="password" placeholder="Confirm Password" minlength="8"
                        pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{1,3})+$" required style="text-align: center;" [(ngModel)]="confirmPass" />
                </label>
                <div *ngIf="!confirmPassword()" style="color: red">
                    Please Enter Same Password
                  </div>
            </div>
            <button type="submit" (click)='changePasswordFunction()'>Submit</button>
            <div>
                {{message}}
            </div>
        </div>
    </div>

</body>
