<div class="container-fluid">
<div class="container">
  <div class="section1">
  <table>
    <tr colspan="2"><td><button type="button" class="btn btn-primary" id=b1 (click)="addFlight()">&nbsp;&nbsp;Add&nbsp;&nbsp;</button></td></tr>
    <br>
    <tr colspan="2"><td><button type="button" class="btn btn-danger" id=b2 (click)="deleteFlight()">Delete</button></td></tr>
    <br>
    <tr colspan="2"><td><button type="button" class="btn btn-info" id=b3 (click)="viewFlight()">&nbsp;View&nbsp;</button></td></tr>
  </table>
</div>
</div>
</div>