<div class="user-ragistration width">
	<div class="container register">
                <div class="row">
                    <div class="col-md-9 register-left">
                        <img src="../../assets/hawai.jpg"  width="60" height="200" alt=""/>
                        <img src="../../assets/japan1.jpg"  width="60" height="200" alt=""/>
                        <img src="../../assets/japan2.jpg"  width="60" height="200" alt=""/>
                        <img src="../../assets/japan3.jpg"  width="60" height="200" alt=""/>
                      

                        <h3>Aisatsu!</h3>
                        <p>You are just a click away from your dream destination</p>
                       
                    </div>
                    <div class="col-md-9 register-right">
                        <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">User</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Admin</a>
                            </li>
                        </ul>
                        <div class="tab-content " id="myTabContent" >
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <h3 class="register-heading">Welcome to Let's Fly</h3>
                                <div class="row register-form">
                                    <div class="col-md-6">
                                         <div class="form-group">
                                            <input type="email" class="form-control" placeholder="Your Email *" 
                                            [(ngModel)]="login.email" 
                                            required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"  #email="ngModel">
                                            <span class="alert-warning" *ngIf="email.touched && email.invalid">Email is invalid</span>
                                        </div> 
                                        <!-- <div class="form-group">
                                            <input type="text" class="form-control" placeholder="User Name *" value="" />
                                        </div> -->
                                        <br>
                                        <br>
                                        <br>
                                        <div>
                                           <h5>{{clientstatus}}</h5> 
                                           <h5>{{userName}}</h5>
                                          
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="password" class="form-control" placeholder="Password *" value="" [(ngModel)]=login.password />
                                        </div>
                                       
                                        
                                        <br>
                                        <br>
                                        <div>
                                       
                                        
                                        <input type="submit" class="btnRegister"  value="Login" (click)="loginUser()"/><br/>
                                    </div>

                                    </div>
                                </div>
                            </div>


                            

                            
                            <div class="tab-pane fade show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <h3  class="register-heading">Admin</h3>
                                <div class="row register-form">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="User Name *" value="" />
                                        </div>
                                       
                                       


                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="password" class="form-control" placeholder="Password *" value="" />
                                        </div>
                                      
                                        
                                        <br>
                                        <br>
                                        <div>
                                       
                                        
                                        <input type="submit" class="btnRegister"  value="Login"/><br/>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
</div>