<div class="pay_main">
    <div class="login_main">
        <div>
            <div  class="head_card ">Booking Details</div>
            <table  class="select_card">
<tr class='selected_seats'><td><span class="he">Date Of Journey:</span> {{dateOfJourney}} </td> </tr>         
<tr class='selected_seats'><td><span class="he">From City: </span> {{from}} </td> </tr>
            <tr class='selected_seats'><td><span class="he">To City:</span> {{destination}} </td> </tr>
             
             <tr class='selected_seats'><td><span class="he">Travelling with:</span> {{flightName}} </td> </tr>
             <tr class='selected_seats'><td><span class="he">Seats Booked:</span> {{noOfpassenger}} </td> </tr>
             
             <tr class='selected_seats'><span class="p">Passenger Details:</span></tr>
            <tr *ngFor="let p of p">
              <span class="pd"><td><tb>{{p.name}}, {{p.gender}}, {{p.age}}</tb></td></span>
              <br>
              <br>
           
            </tr>
            <button class="btn btn-info btn-lg" [routerLink]="['/Payment']" type="submit">Proceed To Payment</button>
           </table>
        
        </div>
             
         </div>

</div>