<nav>
 
</nav>
<div class="container">
      <div class="new-delete">
        <form (ngSubmit)="onSubmit()" #delForm="ngForm">
           <div class="form-group">
                  <table>
                       <tr>
                           <td><label for="flight_no" class="box1">Flight</label></td>
                          <td><input type="number" class="box" name="flight_no" [(ngModel)]="flight.flight_no" pattern="[0-9]{5,}"  #flight1="ngModel"></td>
                          <td><span *ngif="flight1.invalid || flight1.touched"
                            class="alert alert-danger">Invalid Flight number</span></td>
                        </tr>
                    </table>
           </div> 
           <div class="submit-button">
                    <button>Delete</button>
            </div>
    </form>

</div>
</div>
<footer>

</footer>
