<body class="body">
  <div id="plane">
    <div id="cockpitm">
      <!-- <h1>Pilot Cabin </h1> -->
    </div>
    <div class="exit exit--front fuselage"></div>
    <ol id="cabin fuselage">
      <li id="row row--1">
        <ol id="seats" type="A">
          <li id="seat">
            <input type="checkbox" id="E1A"  onclick='selectseat(E1A)'/>
            <label for="E1A">E1A</label>
          </li>
          <li id="seat">
            <input type="checkbox" id="E1B" onclick='selectseat(E1B)' />
            <label for="E1B">E1B</label>
          </li>
          <li id="seat">
            <input type="checkbox" id="E1C" onclick='selectseat(E1C)'/>
            <label for="E1C">E1C</label>
          </li>
         
          <li id="seat">
            <input type="checkbox"  id="E1D" onclick='selectseat(E1D)'/>
            <label for="E1D">E1D</label>
          </li>
          <li id="seat">
            <input type="checkbox" id="E1E" onclick='selectseat(E1E)'/>
            <label for="E1E">E1E</label>
          </li>
          <li id="seat">
            <input type="checkbox" id="E1F" onclick='selectseat(E1F)'/>
            <label for="E1F">E1F</label>
          </li>
        </ol>
      </li>
      <li id="row row--2">
        <ol id="seats" type="A">
          <li id="seat">
            <input type="checkbox" id="E2A" onclick='selectseat(E2A)'/>
            <label for="E2A">E2A</label>
          </li>
          <li id="seat">
            <input type="checkbox" id="E2B" onclick='selectseat(E2B)'/>
            <label for="E2B">E2B</label>
          </li>
          <li id="seat">
            <input type="checkbox" id="E2C" onclick='selectseat(E2C)'/>
            <label for="E2C">E2C</label>
          </li>
          <li id="seat">
            <input type="checkbox" id="E2D" onclick='selectseat(E2D)'/>
            <label for="E2D">E2D</label>
          </li>
          <li id="seat">
            <input type="checkbox" id="E2E" onclick='selectseat(E2E)'/>
            <label for="E2E">E2E</label>
          </li>
          <li id="seat">
            <input type="checkbox" id="E2F" onclick='selectseat(E2F)'/>
            <label for="E2F">E2F</label>
          </li>
        </ol>
      </li>
      <li id="row row--3">
        <ol id="seats" type="A">
          <li id="seat">
            <input type="checkbox" id="E3A" onclick='selectseat(E3A)'/>
            <label for="E3A">E3A</label>
          </li>
          <li id="seat">
            <input type="checkbox" id="E3B" onclick='selectseat(E3B)'/>
            <label for="E3B">E3B</label>
          </li>
          <li id="seat">
            <input type="checkbox" id="E3C" onclick='selectseat(E3C)'/>
            <label for="E3C">E3C</label>
          </li>
          <li id="seat">
            <input type="checkbox" id="E3D" onclick='selectseat(E3D)'/>
            <label for="E3D">E3D</label>
          </li>
          <li id="seat">
            <input type="checkbox" id="E3E" onclick='selectseat(E3E)'/>
            <label for="E3E">E3E</label>
          </li>
          <li id="seat">
            <input type="checkbox" id="E3F" onclick='selectseat(E3F)'/>
            <label for="E3F">E3F</label>
          </li>
        </ol>
      </li>
      <li id="row row--4">
        <ol id="seats" type="A">
          <li id="seat">
            <input type="checkbox" id="E4A" onclick='selectseat(E4A)'/>
            <label for="E4A">E4A</label>
          </li>
          <li id="seat">
            <input type="checkbox" id="E4B" onclick='selectseat(E4B)'/>
            <label for="E4B">E4B</label>
          </li>
          <li id="seat">
            <input type="checkbox" id="E4C" onclick='selectseat(E4C)'/>
            <label for="E4C">E4C</label>
          </li>
          <li id="seat">
            <input type="checkbox" id="E4D" onclick='selectseat(E4D)'/>
            <label for="E4D">E4D</label>
          </li>
          <li id="seat">
            <input type="checkbox" id="E4E" onclick='selectseat(E4E)'/>
            <label for="E4E">E4E</label>
          </li>
          <li id="seat">
            <input type="checkbox" id="E4F" onclick='selectseat(E5F)'/>
            <label for="E4F">E4F</label>
          </li>
        </ol>
      </li>
      <li id="row row--5">
        <ol id="seats" type="A">
          <li id="seat">
            <input type="checkbox" id="B5A" onclick='selectseat(B4A)'/>
            <label for="B5A">B5A</label>
          </li>
          <li id="seat">
            <input type="checkbox" id="B5B" onclick='selectseat(B5B)'/>
            <label for="B5B">B5B</label>
          </li>
          <li id="seat">
            <input type="checkbox" id="B5C" onclick='selectseat(B5C)'/>
            <label for="B5C">B5C</label>
          </li>
          <li id="seat">
            <input type="checkbox" id="B5D" onclick='selectseat(B5D)'/>
            <label for="B5D">B5D</label>
          </li>
          <li id="seat">
            <input type="checkbox" id="B5E" onclick='selectseat(B5E)'/>
            <label for="B5E">B5E</label>
          </li>
          <li id="seat">
            <input type="checkbox" id="B5F" onclick='selectseat(B5F)'/>
            <label for="B5F">B5F</label>
          </li>
        </ol>
      </li>
      <li id="row row--6">
        <ol id="seats" type="A">
          <li id="seat">
            <input type="checkbox" id="B6A" onclick='selectseat(B6A)'/>
            <label for="B6A">B6A</label>
          </li>
          <li id="seat">
            <input type="checkbox" id="B6B" onclick='selectseat(B6B)'/>
            <label for="B6B">B6B</label>
          </li>
          <li id="seat">
            <input type="checkbox" id="B6C" onclick='selectseat(B6C)'/>
            <label for="B6C">B6C</label>
          </li>
          <li id="seat">
            <input type="checkbox" id="B6D" onclick='selectseat(B6D)'/>
            <label for="B6D">B6D</label>
          </li>
          <li id="seat">
            <input type="checkbox" id="B6E" onclick='selectseat(B6E)'/>
            <label for="B6E">B6E</label>
          </li>
          <li id="seat">
            <input type="checkbox" id="B6F" onclick='selectseat(B6F)'/>
            <label for="B6F">B6F</label>
          </li>
        </ol>
      </li>
    </ol>
    <div class="exit exit--back fuselage">
  
  </div>
  <div id="container">
    <button id="center" onclick="myFunction()" target="_blank"><span>Make Payment</span></button>
  </div>
  </div>
  </body>