<div class="container">

  <h1 class="display-4"><u>Choose From The Best</u></h1>



  <!-- 
  <table class="table table-striped">

    <thead>

      <tr>


        <th>Departure Time</th>
        <th>Arrival Time</th>
        <th>Flight no</th>
        <th>From</th>
        <th>To</th>
        <th>Duration</th>
        <th>Economy Price</th>
        <th>Business Price</th>

      </tr>

    </thead>

    <tbody>-->
      <!--   
        <tr *ngFor="let student of flights">
      <tr>
        <td>{{ flight.DepartureTime}}</td>
        <td>{{ flight.ArrivalTime}}</td>
        <td>{{ flight.flightno }}</td>
        <td>{{ flight.From }}</td>
        <td>{{ flight.To}}</td>
        <td>{{ flight.Duration}}</td>
        <td>Rs. {{ flight.EconomyPrice}}</td>
        <td>Rs. {{ flight.BusinessPrice}}</td>

      </tr>

    </tbody>

  </table> -->
<br>
<p>Source -> Destination</p>
<small>Start Date - Return Date</small>
<br>
<div class="row"> 
<div class="res">
<div class="fs">
 8:30 AM - 10:30 AM
 
 <br>
 <br>
 <input type="radio" id="eco" value="Economy">
<label for="eco">Economy Price: Rs 4200</label>
&nbsp;
<input type="radio" id="bus" value="Business">
<label for="bus">Business Price: Rs 5500</label>
<a href="http://localhost:4200/Payment" > <button type="button" class="btn btn-info btn-sm">Proceed</button> </a>
</div>
</div>
<br>
<br>
<div class="res1">

</div>
<br>
</div>
</div>