<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    

    <!-- Title Page-->
    <title></title>    
</head>

<body>
    <div class="page-wrapper bg-blue p-t-100 p-b-100 font-robo">
        <div class="wrapper wrapper--w680">
            <div class="card card-1">
                <div class="card-heading"></div>
                <div class="card-body">
                    <h2 class="title">Enter Passanger Details</h2>
                    <form >
                        <div class="input-group">
                            <input class="input--style-1" type="text" placeholder="NAME" name="name">
                        </div>
                        <div class="row row-space">
                            <!-- <div class="col-2"> -->
                                <div class="input-group">
                                    <input class="input--style-1" type="text" placeholder="AGE" name="res_code">
                                </div>
                                <div class="input-group">
                                    <input class="input--style-1" type="text" placeholder="GENDER" name="res_code">
                                </div>
                            </div>
                        <!-- </div> -->
                        
                        
                        <div class="p-t-20">
                            <button class="btn btn--radius btn--green" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


</body>

</html>