

   
<nav class="navbar sticky-top navbar-expand-lg">
    <a class="navbar-brand" href="#"><img class="logo" src="../assets/logo.png" ></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 navbar-center">
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="'FlightSearch'">Search flights<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:4200/FlightSearch/#bp">Tourist places</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link " routerLink="" routerLinkActive="">Bookings</a>
               
            </li>
            <li class="nav-item">
                <a class="nav-link " [routerLink]="['Cancel']">Cancel Bookings</a>
            </li> -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 Bookings
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" [routerLink]="''">View Bookings</a>
                  <a class="dropdown-item" [routerLink]="['Cancel']">Cancel Bookings</a>
                </div>
              </li>


            <!-- <li class="nav-item">
               <a class="nav-link" [routerLink]="'Add'">Add flight</a>
               <a class="nav-link" [routerLink]="'Delete'">Delete flight</a>
                
            </li> -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Modify Flights
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" [routerLink]="'Add'">Add flight</a>
                  <a class="dropdown-item" [routerLink]="'Delete'">Delete flight</a>
                </div>
              </li>

            <li class="nav-item">
                <a class="nav-link nav-link" href="http://localhost:4200/FlightSearch/#team">Contact</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <!-- <li class="nav-item">
                <a class="nav-item nav-link" [routerLink]="['Login']">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link" [routerLink]="['Register']">Register</a>
            </li> -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Login
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" [routerLink]="['Login']">Login</a>
                  <a class="dropdown-item" [routerLink]="['Register']">Register</a>
                </div>
              </li>


        </ul>
    </div>
</nav>



<router-outlet></router-outlet>
<footer class="footer-distributed f">

			<div class="footer-left">

				<h3>Let's Fly<span>logo</span></h3>

				<!-- <p class="footer-links">
					<a href="#" class="link-1">Home</a>
					
					<a href="#">Blog</a>
				
					<a href="#">Pricing</a>
				
					<a href="#">About</a>
					
					<a href="#">Faq</a>
					
					<a href="#">Contact</a>
				</p> -->

				<p class="footer-company-name">Let's Fly © 2020</p>
			</div>

			<div class="footer-center">

				<div>
					<i class="fa fa-map-marker"></i>
					<p><span>JAVA Batch - 852</span> LTI, Mahape, Mumbai</p>
				</div>

				<div>
					<i class="fa fa-phone"></i>
					<p>+91 9938143480</p>
				</div>

				<div>
					<i class="fa fa-envelope"></i>
					<p><a href="maneesha0228@gmail.com">maneesha0228@gmail.com</a></p>
				</div>

			</div>

			<div class="footer-right">

				<p class="footer-company-about">
					<span>About Us</span>
                    We are - "Titans"(Group 1) of Java Batch - 852. This is the project designed for LTI - Project gladiator, October 2020.
				</p>

				<div class="footer-icons">

					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-linkedin"></i></a>
					<a href="#"><i class="fa fa-github"></i></a>

				</div>

			</div>

		</footer>
