<!--Carousel-->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators">
		<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
		<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
		<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
	</ol>
	<div class="carousel-inner">
		<div class="carousel-item active">
			<img class="cus" src="../../assets/f2.jpg" alt="First slide">
			<div class="carousel-caption">
				<h1 class="display-2">Let's Go</h1>
				<h3>Search flights at best rates! </h3><br>
				<a href="http://localhost:4200/FlightSearch/#fs"> <button type="button"
						class="btn btn-info btn-lg">Search Flights</button> </a>
			</div>
		</div>
		<div class="carousel-item">
			<img class="cus" src="../../assets/f3.jpg" alt="Second slide">
			<div class="carousel-caption">
				<h1 class="display-2" color="black">Start your travel plans here!</h1>
				<a href="http://localhost:4200/FlightSearch/#bp"> <button type="button" class="btn btn-info btn-lg">Best
						Tourist Places</button> </a>
			</div>
		</div>
		<div class="carousel-item">
			<img class="cus" src="../../assets/f4.jpg" alt="Third slide">

		</div>


	</div>
	<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</div>


<div>
	<div id="fs">
		<div class="container">
			<div class="row py-5 mt-4 align-items-center">

				<div class="col-md-5 pr-lg-5 mb-5 mb-md-0">
					<img src="../../assets/girl.jpg" alt="" class="img-fluid mb-3 d-none d-md-block">
					<h1>Find Best Flights!</h1>
					<p class="font-italic text-muted mb-0">Find out best flights at best fares</p>

				</div>

				<!-- Flight Search Form -->

				<div class="col-md-7 col-lg-6 ml-auto">
					
					<form action="">
						<div class="row">

							<div id="b1">
								<button type="button" class="btn btn-disabled btn-lg">One way</button>
							</div>

							<!-- <div id="b2">
								<button type="button" class="btn btn-warning btn-lg">Return Trip</button>
							</div> -->

						</div>


							<div class="row">
                            <div class="col-lg-6">
                            <p>Soruce : </p>

							</div>
								<div class="input-group col-lg-6 mb-4">
									<div class="input-group-prepend">
										<span class="input-group-text bg-white px-4 border-md border-right-0">
											<i class="fa fa-map-marker fa-lg text-muted"></i>
										</span>
									</div>
									<select id="s" 
										class="form-control custom-select bg-white border-left-0 border-md"
										name="fromCity"
                                        [(ngModel)]="fromCity" 
                                        >
										
										<option value="1">Mumbai</option>
										<option value="2">Hyderabad</option>
										<option value="3">Bangalore</option>
										<option value="4">Delhi</option>
										<option value="5">Chennai</option>
									</select>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-6">
									<p>Destination : </p>
		
									</div>
								<div class="input-group col-lg-6 mb-4 des">
									<div class="input-group-prepend">
										<span class="input-group-text bg-white px-4 border-md border-right-0">
											<i class="fa fa-map-marker fa-lg text-muted"></i>
										</span>
									</div>
									<select id="d" name="Destination"
										class="form-control custom-select bg-white border-left-0 border-md"
										name="toCity" 
                                        [(ngModel)]="toCity" 
                                       >
										
										<option value="1">Mumbai</option>
										<option value="2">Hyderabad</option>
										<option value="3">Bangalore</option>
										<option value="4">Delhi</option>
										<option value="5">Chennai</option>
									</select>
								</div>
							
							</div>
							<div class="row">

								<div class="col-lg-6">
									<p>Date Of Journey : </p>
		
									</div>

								<div class="input-group col-lg-6 mb-4 rd">
									<div class="input-group-prepend">
										<span class="input-group-text bg-white px-4 border-md border-right-0">
											<i class="fa fa-calendar fa-lg text-muted"></i>
										</span>
									</div>
									<input id="rdate" type="date" placeholder="Journey Date"
										class="form-control bg-white border-left-0 border-md"
										name="dateOfJourney" 
                                        [(ngModel)]="date"
                                       >
								</div>
							</div>

													
							<!-- Submit Button -->
							<div class="form-group col-lg-12 mx-auto mb-0">
								<!-- <button ng-click="next()" class="btn btn-primary btn-block py-2"> -->
									<button (click)="(next)" class="btn btn-primary btn-block py-2">
									<span class="font-weight-bold">Search your flight</span>
								</button>
							</div>

							<!-- Divider Text -->
							<div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
								<div class="border-bottom w-100 ml-5"></div>
								<span class="px-2 small text-muted font-weight-bold text-muted">OR</span>
								<div class="border-bottom w-100 mr-5"></div>
							</div>

							<!-- Social Login -->
							<div class="form-group col-lg-12 mx-auto">
								<!-- <a href="#" class="btn btn-primary btn-block py-2 btn-facebook">
							  <i class="fa fa-facebook-f mr-2"></i>
							  <span class="font-weight-bold">Continue with Facebook</span>
						  </a> -->
								<a routerLink="Register" class="btn btn-primary btn-block py-2 btn-twitter">
									<!-- <i class="fa fa-twitter mr-2"></i> -->
									<span class="font-weight-bold">Register now to get best offers!</span>
								</a>
							</div>

							<!-- Already Registered -->
							<div class="text-center w-100">
								<p class="text-muted font-weight-bold">Already Registered? <a href="#"
										class="text-primary ml-2">Login</a></p>
							</div>

						
					</form>
				</div>
			</div>
		</div>

	</div>
</div>
<br>
<!-- Best Places -->
<h1 class="display-4"><u>Best Places To Visit</u></h1>
<br>
<div id="bp">
	<div class="card-deck">
		<div class="card">
			<img class="card-img-top c-img" src="../../assets/taj.jpg" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">Agra</h5>
				<p class="card-text">One of the most beautiful monuments in the world, Taj Mahal is located on the banks
					of River Yamuna in Agra. </p>
				<a href="https://www.holidify.com/places/agra/taj-mahal-sightseeing-1020.html"> <button type="button"
						class="btn btn-info btn-lg">Find More!</button> </a>
			</div>
		</div>

		<div class="card">
			<img class="card-img-top c-img" src="../../assets/kerala.jpg" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">Kerala</h5>
				<p class="card-text"> It's known for its palm-lined beaches and backwaters, a network of canals. Inland
					are the Western Ghats and mountains.</p>
				<a href="https://www.thrillophilia.com/places-to-visit-in-kerala"> <button type="button"
						class="btn btn-info btn-lg">Find More!</button> </a>
			</div>
		</div>
		<div class="card">
			<img class="card-img-top c-img" src="../../assets/mumbai.jpg" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">Mumbai</h5>
				<p class="card-text">Mumbai has three main seasons - Summer, Monsoon& Winter. The best time to visit
					is between November and February.</p>
				<a href="https://www.holidify.com/places/mumbai/sightseeing-and-things-to-do.html"> <button
						type="button" class="btn btn-info btn-lg">Find More!</button> </a>
			</div>
		</div>

		<div class="card">
			<img class="card-img-top c-img" src="../../assets/hyd.jpg" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">Hyderabad</h5>
				<p class="card-text">Its historic sites include Golconda Fort, a former diamond-trading center that was
					once the Qutb Shahi dynastic capital. </p>
				<a href="https://www.holidify.com/places/hyderabad/sightseeing-and-things-to-do.html"> <button
						type="button" class="btn btn-info btn-lg">Find More!</button> </a>
			</div>
		</div>
		<div class="card">
			<img class="card-img-top c-img" src="../../assets/goa.jpg" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">Goa</h5>
				<p class="card-text"> Goa is best known for its beaches, ranging from popular stretches at Baga,Palolem
					to those in villages such as Agonda.</p>
				<a href="https://www.thrillophilia.com/10-best-places-to-visit-in-goa"> <button type="button"
						class="btn btn-info btn-lg">Find More!</button> </a>
			</div>
		</div>

	</div>
</div>
<br>
<!-- Teams -->
<section><br>
	<h1 class="display-4"><u>Meet The Titans</u></h1>
	<br>
	<div id="team">

		<div class="row">
			<div class="col">

				<img class="team-pic" src="../../assets/mona.jpeg">
				<h3 class="naam">Seerapu Maneesha Reddy</h3>
				<p>TL - The UI Girl!</p>
				<p class="mail"><i>Seerapu.Reddy@lntinfotech.com</i></p>
				<a href="https://www.linkedin.com/in/maneesha-reddy-692645172"> <button type="button"
						class="btn btn-info btn-lg">Contact</button> </a>
			</div>
			<div class="col">

				<img class="team-pic" src="../../assets/mayank1.jpg">
				<h3 class="naam">Mayank Yadav</h3>
				<p>The Hard Worker!</p>
				<p class="mail"><i>Mayank.Yadav@lntinfotech.com</i></p>
				<a href="#"> <button type="button" class="btn btn-info btn-lg">Contact</button> </a>
			</div>
			<div class="col">

				<img class="team-pic" src="../../assets/saurav.jpeg">
				<h3 class="naam">Saurabh Kumar Sah</h3>
				<p>The Intellectual One!</p>
				<p class="mail"><i>Saurabh.Sah@lntinfotech.com</i></p>
				<a href="#"> <button type="button" class="btn btn-info btn-lg">Contact</button> </a>
			</div>
			<div class="col">

				<img class="team-pic" src="../../assets/anant.jpeg">
				<h3 class="naam">Anant Arabariya</h3>
				<p>The Helper Guy!</p>
				<p class="mail"><i>anant.arbariya@lntinfotech.com</i></p>
				<a href="#"> <button type="button" class="btn btn-info btn-lg">Contact</button> </a>
			</div>

		</div>
